header{
    height:100px;
    background-color: #F7F1F0;
    font-family: Muyao-Softbrush;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
}
#js{
    width: 50px;
    height: 50px;
}

nav{
    color: black;
    height: 20px;
    background-color:#C3A6A0;
    text-align: center;
    letter-spacing: 20px;
    padding: 10px;
}
nav a {
    display: inline-block;
    text-decoration: none;
}
nav a:link{
    color: black;
}
nav a:hover {
    background-color: whitesmoke;
    letter-spacing: 20px;
    color: black;
    height: 20px;
}
nav a:visited{
    color: black;
}
a.nav:hover{
    color: black;
    background-color: whitesmoke;
    letter-spacing: 30px;
}

.container{
    padding: 7% 35%;
    text-align: center;
    display: flex;
    justify-items: center;
}
img{
    width: 350px;
    height: 350px;
}

button {
    background-color: #1b301bb3;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 20px;
  }
  